
@import '../../../../assets/variables';

.select {
  @include text-md();
  appearance: none;
  background-color: transparent;
  background-image: url('../../../../assets/Expand_down.svg');
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  border-radius: 14px;
  border: 1px solid transparent;
  color: var(--grey);
  cursor: pointer;
  padding: 8px 10px 8px 10px;

  &:hover {
    background-image: url('../../../../assets/Expand_down-hover.svg');
    color: var(--light);
  }
}

.selected {
  background-color: var(--grey);
  background-image: url('../../../../assets/Expand_down.svg');
  color: var(--light);
}

@media (min-width: 1025px) {
  .select {
    @include text-xl();
    padding: 10px 12px 10px 12px;
    border-radius: 16px;
  }
}
