/* You can add global styles to this file, and also import other style files */

:root {

  --background: #040711;
  --grey-darker: #394150;
  --grey: #4D5562;
  --light-darker: #CDD5E0;
  --light: #F9FAFB;
  --primary: #3662E3;
  --primary-2: #7CA9F3;
  --grey-opacity: #212936cc;
  --grey-darker-opacity: #121826cc;


}

body {
  font-family: "DM Sans", sans-serif !important;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
}